.play-container {
  background: #f9f9f9;
  padding: 20px 2%;
  display: flex;
  gap: 24px;                
  align-items: flex-start;  
}
@media (max-width: 900px) {
    .play-container{
      padding-left: 5%;
      padding-right: 5%;
    }
}